# part=xilinx_u200_gen3x16_xdma_2_202110_1
part=xcu200-fsgd2104-2-e

[hls]
flow_target=vitis
syn.output.format=xo
# syn.file=./hlsProject/firmware/myproject.cpp
syn.file=../network/input/myproject_i.cpp
syn.file=../network/edge/myproject_e.cpp
syn.file=../network/node/myproject_n.cpp
syn.file=../runner/runner.cpp
syn.top=runner
# syn.cflags=-I./hlsProject/firmware/ -I./rotationKernel
syn.cflags=-I../network/input/ -I../network/edge/ -I../network/node/ -I../runner/ -I../network/firmware
clock=5ns
clock_uncertainty=12%
